// Changement des couleurs
$primary:       #658d96;
$secondary:     #1b414a;
$fourth:        #4eb8d2;

//Changement des progress-bar
$progress-height: 0.75rem;

// Importer des variables et mixins
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Changement des progress-bar avec variables pré-définis
$progress-font-size: $font-size-base * .60;
$progress-bar-bg: $fourth;
$navbar-dark-color: #e5eeef;

//Ajout de variable de dimensions supplémentaires
/* Marges et padding */
.m-02 {
    margin: 0.2em;
}
/* Dimensions */
.w-40px {
    width: 40px;
}

//Ajustement des animations
.btn {
    transition: all 0.3s ease-in-out;
    &:hover {
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5) !important;
        transform: scale(1.05);
    }
}


// Importer les styles Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";