/* Appels des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: "MS DOS";
    src: url("../fonts/MorePerfectDOSVGA.woff2") format("woff2"),
         url("../fonts/MorePerfectDOSVGA.ttf") format("truetype");
}

/* Applications des polices */
h1, h3, h4, h6, .alegreya {
    font-family: "Alegreya Sans", sans-serif;
}

h2, p {
    font-family: "Roboto", sans-serif;
}

h5 {
    font-family: "MS DOS";
}

/* Objets */
/*Formes des sections Formations/Expériences*/
.BandeauBleu {
    left: -56px;
    margin: 36px 0;
}
h3 {
    background-color: #4eb8d2;
    border-radius: 0 7px 7px 0;
    max-width: 220px;
}
.triangle {
    border-top: 15px solid #658d96;
    border-left: 8px solid transparent;
    width: 7px;
}
/*UP button*/
#btnUP {
    display: none;
    width: 40px; 
    height: 40px;
}
/* Fond du CD*/
#main-container {
    background: url(../Images/Fond.png);
    background-repeat: repeat-y;
    background-size: 100%;
}

/*Changement couleurs*/
.marron {
    color: #666666 !important;
}

/*Positionnement*/
.z-1080 {
    z-index: 1080;
}